/DomoticaServer/CodeDB
/DomoticaServer/Debug
/DomoticaServer/Release
/DomoticaServer/DomoticaServer/Debug
/DomoticaServer/DomoticaServer/obj
/DomoticaServer/DomoticaServer/Release
/DomoticaServer/DomoticaServer/VisualGDBCache





